body {
    font-family: 'Poppins', sans-serif;
    background-image: url('khodam.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 20px;
    margin-top: 30px;
    position: relative;
    z-index: 1;
    color: #333;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-repeat: inherit;
    background-attachment: inherit;
    background-size: inherit;
    background-position: inherit;
    filter: blur(5px);
    z-index: -1;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    opacity: 0.9; 
}


h2 {
    text-align: center;
    color: #4CAF50;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 600;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.input-container {
    margin-bottom: 30px;
}

.input-container label {
    display: block;
    font-weight: 600;
    margin-bottom: 10px;
}

.input-container input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: border-color 0.3s ease;
}

.input-container input:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.3);
}

.input-container button {
    margin-top: 20px;
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.input-container button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.result {
    text-align: center;
    margin-top: 30px;
}

.result p {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.result .khodam-name {
    font-weight: bold;
    color: #4CAF50;
}

.khodam-description {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
}

.notification {
    display: none;
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

footer {
    color: #f9f9f9;
    text-align: center;
    padding: 10px;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.footer-content {
    display: flex;
    align-items: center;
}

.footer-content a {
    color: #f9f9f9;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.footer-content a:hover {
    text-decoration: underline;
}

.github-icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    fill: #f9f9f9;
}

.created-by {
    margin-right: 10px;
}